/*################# DEFAULTAI #################*/
body{
    margin: 0;
}
.content-container{
    overflow-x: hidden; 
}
.hidden{
    display: none!important;
}
.hovered{
    transition: 0.3s;
    color: #293d83!important;
}
.showSlide{
    display: block!important;
}
/*################# FAKTAI BLOKAS #################*/
.faktai-container{
    position: relative;
}
.faktai-container img{
    display: block;
    width: 75%;
}
.faktai-container div{
    position: absolute;
    display: block;
    width: 21%;
    transition: transform 0.3s ease;
    
}
.faktai-container div::before{
    content: "";
    display: block;
    padding-top: 100%;
}
.faktai-container .firstSquare{ /* :first-child */
    background-color: #cad360;
    top: 34%;
    left: 84%;

}
.faktai-container .secondSquare{
    background-color: #293d83;
    top: 68%;
    left: 68%;
}
.faktai-container .secondSquare p{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    color: white;
}
.faktai-container .secondSquare span:first-child{
    display: block;
    font-family: "Avenir Next Cyr";
    font-size: 4vw;
    font-weight: bold;
}
.faktai-container .secondSquare span:nth-child(2){
    display: block;
    font-family: "Avenir Next Cyr";
    white-space: nowrap;
    font-size: 2vw;
    font-weight: 500;
}

/*################# TIPOGRAFIKA BLOKAS #################*/
.tipografika-container{
    margin: 12% 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tipografika-container .left{
    display: inline-block;
    height: 100%;
}
.tipografika-container .left .blockName{
    display: block;
    font-family: "Avenir Next Cyr";
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 2em;
}
.tipografika-container .left .heading{
    font-family: "Avenir Next Cyr";
    color: #293d83;
    margin: 0;
    font-size: 52px;
    font-weight: 500;
}
.tipografika-container .left .subHeading{
    font-family: "Avenir Next Cyr";
    margin: 0;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 500;
}
.tipografika-container .left p{
    font-family: "Avenir Next Cyr";
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}


.tipografika-container .right{
    border-left: 2px solid rgba(192,192,192,0.4);
    margin-left: 3vw;
    padding-left: 3vw;
}
.tipografika-container .right .circle-block{
    display: inline-block;
}
.tipografika-container .right .firstBlock{
    margin-right: 15px;
}
.tipografika-container .right .circle-block p{
    width: 8em;
    min-width: 42px;
    margin: 0;
    font-family: "Avenir Next Cyr";
    line-height: 2em;
    text-align: center;
}
.tipografika-container .right .circle::before{
    content: " ";
    display: block;
    padding-top: 100%;

}
.tipografika-container .right .circle{
    border-radius: 50%;
}
.tipografika-container .right .firstCircle{
    background-color: #293d83;
}
.tipografika-container .right .secondCircle{
    background-color: #4da4ff;
}





/*################# SCREENS SLIDER BLOKAS #################*/
.screens-container {
    height: 50vw;
    overflow: hidden;
    position: relative;

}
.screens-container .slide{
    display: none;
    transition: 0.3s;
}
.screens-container .previousSlide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 2em;
}
.screens-container .nextSlide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 2em;

}
.screens-container .nextSlide span, .screens-container .previousSlide span{
    padding: 7px;
    cursor: pointer;
}
.screens-container img{
    width: 100%;
}



/*################# PAMATYKITE GYVAI BLOKAS #################*/
.pamatykiteGyvai-container{
    margin: 12% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-family: "Avenir Next Cyr";
}
.pamatykiteGyvai-container p{
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}
.pamatykiteGyvai-container a{
    text-decoration: none;
    color: #293d83;
    font-size: 2.8em;
    font-weight: 500;
}
.pamatykiteGyvai-container .litanaGroupLink::after{
    content: "";
    display: block;
    height: 2px;
    margin-top: 5px;
    background-color: #293d83;
}


/*################# NEXT PREV BLOKAS #################*/
.nextPrev-container{
    position: relative;
    height: 50px;
    padding: 15px 5vw;
    background-color: rgb(220,220,220);
    font-family: "Avenir Next Cyr";
    font-size: 14px;
    /* opacity: .7; */
}
.nextPrev-container .cell a{
    display: inline-block;
    line-height: 50px;
    color: gray;
    margin: 0 8px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}
.nextPrev-container .cell span{
    color: gray;
}
.nextPrev-container .cell {
    display: inline-block;
}
.nextPrev-container span {
    display: inline-block;
    letter-spacing: 2px;
}
.nextPrev-container .line{
    display: inline-block;
}
.nextPrev-container .line::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 50px;
    top: 15px;
    left: 50%;
    background-color: gray;
}
.nextPrev-container img{
    height: 0.8em;
}

/*################# MEDIA QUERIES #################*/
@media screen and (max-width: 768px){
.tipografika-container{
     align-items: flex-start;
     font-size: 10px;
 }
 .tipografika-container .left .heading{
    font-size: 3em;
 }
 .tipografika-container .left .subHeading{
    font-size: 1.5em;
}
 .tipografika-container .right .circle-block{
     display: block!important;
 }
 .tipografika-container .right .firstBlock{
     margin: 0!important;
 }
 .tipografika-container .right .circle-block p{
     width: 7em;
 }
 .pamatykiteGyvai-container{
     font-size: 9px;
 }

 .nextPrev-container{
     padding: 15px 1px;
     font-size: 8px;
 }

 .nextPrev-container .cell a{
    margin: 0 1px;
 }
 .nextPrev-container .line{
    display: none;
 }
}
@media screen and (min-width: 769px){

}